/* Import custom fonts*/
@font-face{ /*Principal font*/
    font-family: 'Montserrat', sans-serif;
    src: url("../fonts/Montserrat-Regular.ttf"); 
}
@font-face{ /*Regular text*/
    font-family: 'Libre Baskerville', serif;
    src: url("../fonts/LibreBaskerville-Regular.ttf");
}

/* General styles */
*{
    margin: 0px;
    padding: 0px;
}

.clearfix { /* To clean the float in to the elements*/
    float: none;
    clear: both;
}

/* Navigation Bar */
.navBar {
    width: 100%;
    height: 100px;
    background-color: #6b3868d1;
    display: block;
    position: fixed; /*So the bar stay always up, inclusive when I do scroll down*/
    text-transform: uppercase;
}
.navBar ul {
    display: block;
    width: 70%;
    height: 90px;
    margin: 0px auto;
    margin-top: -3px;
}
.navBar ul li {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}
.navBar a {
    display: block;
    padding: 0px 2rem;
    height: 100px;
    text-decoration: none;
    color: black;
    transition: all 300ms;
}
.navBar a:hover,
.actived { /* Actived = To know the part of page where I am  */
    background-color:  #DB5771;
    /* height: 97px; */
    font-size: 20px;
    color: white;
}

/* Logotype */
.logo {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: bold;
}
.logo a {
    transition: color 500ms;
}
.logo a:hover {
    background-color: transparent;
    color: #DB5771;
    font-size: 35px;
}

/* Principal Container */
.container {
    min-height: 600px;
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    border: 1px solid #b7b7b7;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 120px;
}

/* Footer */
footer {
    width: 80%;
    margin: 0px auto;
    padding: 20px 0px;
    text-align: center;
    font-size: 20px;
}

/* ABOUT ME */
.title {
    width: 70%;
    margin: 0px auto;
    text-align: center;
    padding: 20px 0px 80px 0px;
}
.title h1 {
    font-size: 5rem;
    border-bottom: 1px solid #DB5771;
}
.title h2 {
    font-size: 2.5rem;
    color: #5C5C5C;
    margin: 5px 0px;
}
.title p {
    font-size: 1.2rem;
    color: #8b8a8a;
}
.about {
    width: 70%;
    margin: 0px auto;
    padding-bottom: 20px;
    font-size: 1.2rem;
    /* text-align: center; */
}
.about h2 {
    color: #6B3868;
    border-bottom: 1px solid #6B3868;
    padding-bottom: 3px;
    margin-bottom: 5px;
}
.about p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 20px 0px;
    text-align: justify;
}

/* SECTION WITH FORM */
.content {
    margin: 10px 180px;
}
.content h2 {
    color: #6B3868;
    border-bottom: 1px solid #6B3868;
    padding-bottom: 3px;
    margin-bottom: 15px;
}
form {
    width: 100%;
}
form label {
    display: block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    padding-bottom: 4px;
}
form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea {
    width: 99%;
    padding: 5px;
    border: 1px solid #8b8a8a;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}
form textarea {
    height: 50px;
}
form button,
form input[type="submit"] {
    display: block;
    font-size: 16px;
    padding: 8px 12px;
    margin-top: 20px;
    background-color: #6B3868;
    color: white;
    border: none;
    cursor: pointer;
}
form button:hover,
form input[type="submit"]:hover {
    background-color: #DB5771;
    color: white;
    border: none;
    transition: 0.3s;
}
form input[disabled]{
    background-color: #8b8a8a;
    cursor: not-allowed;
}
.alert {
    padding: 5px;
    background-color: red;
    color: white;
    font-weight: bold;
}
.message { /* Success or failed*/
    width: 50%;
    padding: 5px;
    border: 1px solid #eee;
    text-align: center;
    font-weight: 700;
}
.success {
    background-color: green;
    color: white;
}
.success a {
    color: white;
}
.failed {
    background-color: red;
    color: white;
}