<!-- Principal Content  -->
<div class="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <p>{{ email }}</p>
</div>

<!-- About Me -->
<article class="about">
  <h2>About me</h2>
  <p>
    In hac habitasse platea dictumst. Cras in ipsum lobortis, luctus dui ut,
    suscipit enim. Cras congue orci a cursus auctor. Fusce dapibus mauris non
    tincidunt pretium. Morbi rhoncus, neque nec egestas vestibulum, magna mauris
    scelerisque eros, id gravida leo nisi vel tellus. Vestibulum sodales ornare
    elementum. Maecenas odio elit, vestibulum nec libero nec, rutrum ultricies
    lorem. Vestibulum nibh mi, lacinia eget nulla id, commodo vehicula ligula.
    Vivamus nec augue euismod erat tincidunt viverra. Curabitur et suscipit
    velit. Donec et risus vitae odio placerat blandit eget quis est. Praesent at
    lorem nec leo blandit tincidunt a gravida libero. Nullam aliquam tortor ex,
    eget tempus eros lacinia nec.
  </p>
</article>
