<!-- Navigation Bar -->
<header class="navBar">
    <ul>
        <li><a [routerLink]="['/about-me']" [routerLinkActive]="['actived']">About Me</a></li>
        <li><a [routerLink]="['/abilities']" [routerLinkActive]="['actived']">Abilities</a></li>
        <li><a [routerLink]="['/projects']" [routerLinkActive]="['actived']">Projects</a></li>
        <li class="logo"><a href="#">AO</a></li>
        <li><a [routerLink]="['/create-project']" [routerLinkActive]="['actived']">Create Projects</a></li>
        <li><a [routerLink]="['/cv']">CV</a></li>
        <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contact</a></li>  
    </ul>
</header>

<!-- Body or Content of my web -->
<section class="container">
    <router-outlet></router-outlet>
</section>

<footer>
    Created by Ariadna Os &copy;
</footer>
